<ng-include src="'views/nav.html'"></ng-include>

<!-- MAIN CONTAINER  -->
<div class="container add-bottom-extra">

<!-- Accommodation and Getting Around -->
	<div class="sixteen columns add-bottom-extra" id="accommodation">
		
		<h2>Accommodation and Getting Around <hr></h2>

		<iframe class="google-maps" src="https://mapsengine.google.com/map/u/0/embed?mid=z1y-KOzQsoOo.kzdgVgXA_TAU" width="960" height="300"></iframe>

	</div>

	<div class="sixteen columns add-bottom" id="accommodation">
		
		<h2>Getting Here &amp; Getting Around Toronto <hr></h2>

		<p class="add-bottom">The best way to get around in downtown Toronto is TTC (public transit), taxi, or to stretch your legs and walk!</p>

		<p class="add-bottom">The subway system in Toronto is not extensive, but streetcars run along the main east-west streets in the downtown (King St, Queen St, and Dundas St).   The TTC also has a very useful route-planning tool on its website <a href="http://www.ttc.ca/Trip_planner/" target="_blank">TTC Trip Planner</a>.</p>

		<p class="add-bottom-extra">Both Beck Taxi and Hailo offer smart phone apps to hail cabs. The Hailo app also allows you to pay with your phone.  They both work well and are easy to use.</p>

		<article class="lists">
			<p class="two columns"><strong>TTC</strong><br/><a href="http://www.ttc.ca/" target="_blank">TTC.ca</a></p>
			<p class="three columns"><strong>Beck Taxi</strong><br/><em>ph: (416) 751-5555</em></p>
			<p class="three columns"><strong>Hailo</strong><br/><a href="https://hailocab.com/toronto" target="_blank">hailocab.com/toronto</a></p>
		</article>

	</div>

	<div class="sixteen columns">
		<h2 class="add-above-extra">Blocks<hr></h2>

		<p class="add-bottom-extra">We’ve reserved blocks of rooms at a discounted rate in the following hotels for July 3rd through 6th. Just tell them you’re with the Jacobson-Vachhar wedding when you call. Any rooms that are not booked by the end of May will be released, so we recommend you book soon!</p>
	</div>

	<article class="lists">
		<p class="one-third column"><strong>Grand Hotel &amp; Suites</strong> <br/>
		225 Jarvis St <br/>
		<a href="http://www.grandhoteltoronto.com/" target="_blank">grandhoteltoronto.com</a><br />
		<em>1-416-863-9000</em><br/>
		<em>Grand Deluxe</em> <em class="pull-right">$ 199/night</em><br />
		<em>Grand Double</em> <em class="pull-right">$ 219/night</em><br />
		<em>Junior 2 Bedroom</em> <em class="pull-right">$ 329/night</em><br /></p>

		<p class="one-third column"><strong>Bond Place Hotel*</strong> <br/>
		65 Dundas St E <br/>
		<a href="http://www.bondplace.ca/" target="_blank">bondplace.ca</a><br />
		<em>1-416-362-6061</em><br/>
		<em>Standard Room</em> <em class="pull-right">$ 149/night</em><br />
		<em>*This block is reserved only for the night of July 6th.</em><br /></p>

		<p class="one-third column"><strong>Courtyard by Marriot</strong> <br/>
		475 Yonge St <br/>
		<a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Jacobson%20Viachhar%20Wedding%20Block%5Eyyzcy%60SJVSJVA%7CSJVSJVB%60205%60CAD%60false%607/3/14%607/7/14%606/5/14&app=resvlink&stop_mobi=yes" target="_blank">marriott.com</a><br />
		<em>1-416-924-0611</em><br/>
		<em>Standard Room</em> <em class="pull-right">$ 205/night</em><br /></p>
	</article>

	<div class="sixteen columns">
		<h2 class="add-above-extra">Discounted Rates<hr></h2>
	</div>

	<div class="sixteen columns add-bottom">
		<p>We’ve arranged for a discounted rate at the Cambridge Suites Hotel. Again, just tell them you’re with the Jacobson-Vachhar wedding when you call. We recommend booking sooner rather than later, as these rooms are not reserved.</p>
	</div>


	<article class="lists">
		<p class="seven columns"><strong>Cambridge Suites Hotel</strong> <br/>
		15 Richmond St E <br/>
		<a href="http://www.cambridgesuitestoronto.com/" target="_blank">cambridgesuitestoronto.com</a><br />
		<em>1-416-368-1990</em><br/>
		<em>Standard Deluxe </em> <em class="pull-right">$ 179/night</em><br />
		<em>Upgraded Cityscape (incl. breakfast)</em> <em class="pull-right">$ 209/night</em><br /></p>
	</article>


	<div class="sixteen columns">
		<h2 class="add-above-extra">Alternatives<hr></h2>
	</div>

	<article class="lists">
		<p class="seven columns"><strong>Town Inn Suites (condo style)</strong> <br/>
		620 Church St <br/>
		<a href="http://www.towninn.com/" target="_blank">towninn.com</a><br />
		<em>1-416-964-3311</em><br/>
		<em>Standard Room</em> <em class="pull-right">$ 169/night</em><br />
		<em>Deluxe 1 Bdrm</em> <em class="pull-right">$ 229/night</em><br />
		<em>2 Bedroom</em> <em class="pull-right">$ 389/night</em><br /></p>

		<p class="seven columns offset-by-two"><strong>Holiday Inn Express Toronto Downtown</strong> <br/>
		111 Lombard St<br/>
		<a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/reservation">hiexpress.com</a><br />
		<em>1-416-367-5555</em><br/>
		<em>Standard Room</em> <em class="pull-right">$ 179/night</em><br /></p>
	</article>

	<div class="sixteen columns">
		<h2 class="add-above-extra">airbnb<hr></h2>
	</div>

	<div class="sixteen columns add-bottom">
		<p>We also recommend checking out <a href="https://www.airbnb.ca/" target="_blank">airbnb.com</a> for short-term rentals. They can be less expensive than hotels, particularly if anyone wants to group together. Varun and Avr&iuml;l spent a month in Europe last summer hopping between airbnb rentals and had a great experience. Just be sure to read the reviews!</p>
	</div>

</div><!-- END Container -->