
<!-- MAIN CONTAINER  -->
<div class="container" ng-show="isLoggedIn">

	<!-- Submit Address -->
	<div class="sixteen columns add-bottom-extra">

		<h2 class="add-above-extra">
			Guest Addresses 
			<hr>
		</h2>

		<ol>
			<li ng-repeat="guest in addresses">
				<strong>{{guest.name}}</strong><br/>
				{{guest.address}}
			</li>
		</ol>

	</div>

	<!-- Log Out -->
	<button class="full-width add-bottom-extra" type="button" ng-click="logout()">Log Out</button>

</div><!-- END Container -->





<div class="container" ng-hide="isLoggedIn">

	<div class="sixteen columns add-above-extra">
		<a href="#/login" class="button full-width">go to login</a>
	</div>

</div>