<header class="hero add-bottom-extra" data-0="background-position:0px 0px;" data-800="background-position:0px -{{pageheight}}px;" ng-style="fillPage">
	<div class="container">
		<div class="columns sixteen" >
			<img src="img/hero1.png" data-0="top:0px;" data-800="top:-100px;">
			<img src="img/hero2.png" data-0="top:0px;" data-800="top:-80px;">
			<img src="img/hero3.png" data-0="top:0px;" data-800="top:-160px;">
		</div>
	</div>
</header>

<!-- data-0="opacity: 1" data-180="opacity: 0" -->

<!-- elephants, om symbol, windmill, dinosaur, CN Tower, painting, robot, knife and fork crossed to make an X over a plate, lips, something to do with Franz Ferdinand, envelope, lightening bolts -->