<header 
	class="hero add-bottom-extra" 
	data-0="background-position:0px 0px;" 
	data-800="background-position:0px -{{pageheight}}px;" 
>
	<div class="container">
		<div class="columns sixteen" id="heroImg">
			<img src="img/hero.svg" data-0="width: 100%; margin-left: 0;" data--100-start="width: 120%; margin-left: -10%;">
		</div>
	</div>
</header>

<!-- data-0="opacity: 1" data-180="opacity: 0" -->

<!-- elephants, om symbol, windmill, dinosaur, CN Tower, painting, robot, knife and fork crossed to make an X over a plate, lips, something to do with Franz Ferdinand, envelope, lightening bolts -->