<!-- MAIN CONTAINER  -->
<div class="container">

	<!-- Submit Address -->
	<div class="sixteen columns add-bottom-extra">

		<h2 class="add-above-extra">
			Please Login To View The Addresses
			<hr>
		</h2>

		<!-- Login Form -->
		<form class="addressForm" ng-submit="login()" >
		  
		  <label for="name">Email<span class="required">*</span></label>
		  <input class="full-width" ng-model="email" type="email">
		 
		  <label for="name">Password<span class="required">*</span></label>
		  <input class="full-width" ng-model="password" type="password">
		 
		  <button class="full-width" type="submit">Submit</button>
		 
		</form>

	</div>

</div><!-- END Container -->