
<!-- SCROLLING HEADER -->
<scroll-header pageheight="pageHeight"></scroll-header>

<!-- MAIN CONTAINER  -->
<div class="container">

	<div class="sixteen columns add-bottom-extra">

		<p>Welcome to our wedding website!  We’ll be adding much more to this space in the coming months.  In the meantime, please fill out the address form below (so we can mail your invitation).</p>
 
		<p>We so look forward to celebrating our special day with you!</p>
 	
		<p>xoxo</p>

		<p>Avr&iuml;l &amp; Varun</p>

	</div>


	<!-- Submit Address -->
	<div class="sixteen columns add-bottom-extra">

		<h2>Submit Your Mailing Address <hr></h2>

		<article>
			<ng-include src="'views/addressForm.html'"></ng-include>
		</article>

	</div>


	<!-- Favourite Places -->
<!-- 	<div class="sixteen columns add-bottom-extra">

		<h2>Our Favourite Places In Toronto <hr></h2>

		<article>
			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
		</article>

	</div> -->


	<!-- Music Recommendation -->
<!-- 	<div class="sixteen columns add-bottom-extra">

		<h2>Recommend Some Music <hr></h2>

		<article>
			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
		</article>

	</div> -->

</div><!-- END Container -->