
<ng-include src="'views/nav.html'"></ng-include>

<!-- MAIN CONTAINER  -->
<div class="container">

  <div class="sixteen columns add-bottom-extra">

    <p>Welcome to our wedding website! We’ll be adding more to this space as the countdown continues. In the meantime, we’ve added information on <a href="#/accommodations">accommodation</a> and <a href="#/fun">things to do in Toronto</a>. Also, if you haven’t done so already, please fill out the address form below (so we can mail your invitation).</p>

    <p>We so look forward to celebrating our special day with you!</p>

    <p>xoxo</p>

    <p>Avr&iuml;l &amp; Varun</p>

  </div>





  <!-- RSVP -->
  <div class="sixteen columns add-bottom-extra" id="submit-your-address">

    <h2>RSVP <hr></h2>

    <article>
      <ng-include src="'views/rsvpForm.html'"></ng-include>
    </article>

  </div>


  <!-- Where and When -->
  <div class="sixteen columns add-bottom-extra">
    <h2>Where &amp; When? <hr></h2>
  </div>

  <div class="eight columns add-bottom-extra text-center">

  <p class="add-bottom">July 6, 2014<br />
    <em>Milni at [_ o’clock]</em><br />
    <em>Ceremony at [_ o’clock]</em></p>

    <p class="add-bottom">Berkeley Church<br />
    315 Queen St East<br />
    Toronto, Canada</p>
  </div>

  <div class="eight columns add-bottom-extra">
    <iframe class="google-maps-small" src="https://mapsengine.google.com/map/embed?mid=z1y-KOzQsoOo.k9QmCv2gQSoI" height="200"></iframe>

  </div>


  <!-- Submit Address -->
<!--   <div class="sixteen columns add-bottom-extra" id="submit-your-address">

    <h2>Submit Your Mailing Address <hr></h2>

    <article>
      <ng-include src="'views/addressForm.html'"></ng-include>
    </article>

  </div> -->

</div><!-- END Container -->
