
<ng-include src="'views/nav.html'"></ng-include>

<!-- MAIN CONTAINER  -->
<div class="container">

	<div class="sixteen columns add-bottom-extra">

		<p>Welcome to our wedding website!  We’ll be adding much more to this space in the coming months.  In the meantime, please fill out the address form below (so we can mail your invitation).</p>
 
		<p>We so look forward to celebrating our special day with you!</p>
 	
		<p>xoxo</p>

		<p>Avr&iuml;l &amp; Varun</p>

	</div>


	<!-- Submit Address -->
	<div class="sixteen columns add-bottom-extra" id="submit-your-address">

		<h2>Submit Your Mailing Address <hr></h2>

		<article>
			<ng-include src="'views/addressForm.html'"></ng-include>
		</article>

	</div>

	<!-- Date Nights -->
	<div class="sixteen columns add-bottom-extra" id="avril-varun-dates">

		<h2>Avr&iuml;l &amp; Varun's Dates <hr></h2>

		<iframe class="google-maps" src="https://mapsengine.google.com/map/u/0/embed?mid=z1y-KOzQsoOo.kzdgVgXA_TAU" width="960" height="300"></iframe>

		<article>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>

	</div>


	<!-- Music Recommendation -->

	<!-- RSVP -->

</div><!-- END Container -->