<ng-include src="'views/nav.html'"></ng-include>

<!-- MAIN CONTAINER  -->
<div class="container add-bottom-extra">

  <!-- Music Recommendation -->
  <div class="sixteen columns add-bottom-extra" id="submit-your-address">

    <h2>Registry <hr></h2>

    <p>For those who are looking for suggestions, we'll add a registry here soon.</p>

    <!-- <p>For those looking for suggestions, we have created a registry here at Hudson’s Bay Company.</p> -->

    <!-- <p>&raquo; <a target="_blank" href="http://giftregistry.hbc.com/grworks/grws">Registry Link</a></p> -->

  </div>

</div>
