<form class="addressForm" ng-submit="submitRsvp()" >

	<div class="alert alert-error animate-show" ng-show="rsvpForm.error">
		Error: {{rsvpForm.errMessage}}
	</div>

	<div class="alert alert-success animate-show" ng-show="rsvpForm.success">
		RSVP submitted. Thank You!
	</div>

  <!-- Name -->
  <label for="name">Name<span class="required">*</span></label>
  <input class="full-width" ng-model="rsvpForm.name" type="text" id="name">

  <!-- No. Of Guests -->
  <label for="guestCount">Number Of Guests Attending<span class="required">*</span></label>
  <input class="full-width" ng-model="rsvpForm.guestCount" type="text" id="guestCount">

  <!-- Names -->
  <label for="guestNames">Names of Guests Attending<span class="required">*</span></label>
  <input class="full-width" ng-model="rsvpForm.guestNames" type="text" id="guestNames">

  <!-- Allergies -->
  <label for="guestAllergies">Does anyone in your party have any food allergies?</label>
  <input class="full-width" ng-model="rsvpForm.guestAllergies" type="text" id="guestAllergies">

  <!-- Notes -->
  <label for="note">Note</label>
  <textarea class="full-width" ng-model="rsvpForm.note" id="note"></textarea>

  <button class="full-width" type="submit">Submit</button>

</form>
